{% extends "ctfweb/base.html" %}

{% block content %}

The Rules<BR><BR>
Have fun but please don't be a jerk - Being a jerk only makes an already stressful situation harder on lots of people that gave up their time to make a game for you to play<BR><BR>
This event will be open to teams from 1-3 players each, on site.<BR><BR>
Attacking, touching, modifying, intentionally causing DoS conditions on the game hosting infrastructure or this scoring system will result in immediate disqualification. Attacking any system or network not specifically designated as a CTF challenge is not endorsed or recommended. Attacking other competitors directly or via any game infrastructure is not endorsed or recommended.<BR><BR>
Items involved in "physical security" challenges may not be removed from the CTF room. Please share with other competitors. Hoarding is being a jerk<BR><BR>
Key submission is logged, failed key submissions are tracked. Being wrong with a key submission is ok, brute forcing keys is attacking the scoring system<BR><BR>
Prizes will be awarded to the highest scoring participants as determined by the organizers in the following manner. The first team that completes all challenges will be determined to have won, subsequent finishers of all challenges will place 2nd, 3rd etc. If no team completes all challenges final standings will be determined by score at the end of the competition. Ties will be broken by the higher standing being awarded to the team that achieved the score first.<BR><BR>
Teams can get credit for a maximum of two challenges for which team members submitted content. This is to benefit those who submitted but not to create an unfair advantage.<BR><BR>
You are responsible for the security of any of your own systems that you connect to this network.<BR><BR>
By connecting to this network and using this service you consent to monitoring of all network traffic. This is to include full packet capture which may be used, distributed, or published in any form for any purpose in the future by those organizing this event.<BR><BR>
{% endblock %}
