body
{
  background-color : rgb(0, 0, 0);
}

p
{
  text-align : justify;
}

a
{
  color : rgb(170, 58, 58);
  -webkit-transition : all 200ms ease-in;
  -moz-transition : all 200ms ease-in;
  -ms-transition : all 200ms ease-in;
  -o-transition : all 200ms ease-in;
  transition : all 200ms ease-in;
}

a:hover
{
  color : rgb(65, 69, 117);
}

.footer
{
  background-color : rgb(0, 4, 255);
  color : rgb(255, 255, 255);
  text-align : right;
  margin-top : -13px;
  padding : 16px;
  -webkit-border-bottom-left-radius : 20px;
  -moz-border-radius-bottomleft : 20px;
  border-bottom-left-radius : 20px;
  -webkit-border-bottom-right-radius : 20px;
  -moz-border-radius-bottomright : 20px;
  border-bottom-right-radius : 20px;
}

.contents
{

  background-color : rgb(0, 0, 0);
  font-family : Courier New, Courier, monospace;
  color : rgb(17, 255, 0);
  padding-left : 10px;
  padding-right : 10px;
  padding-top : 1px;
}

table
{

  background-color : rgb(0, 0, 0);
  font-family : Courier New, Courier, monospace;
  color : rgb(17, 255, 0);
  padding-left : 10px;
  padding-right : 10px;
  padding-top : 1px;
}




.nav
{
  line-height : 35px;
  margin-top : -21px;
  background-image : -moz-linear-gradient(90deg, rgba(42, 42, 42, 100) 0%, rgba(61, 61, 61, 100) 50%, rgba(77, 77, 77, 100) 100%);
  background-image : -webkit-gradient(linear, 50% 100% ,50% 0% ,color-stop(0, rgba(42, 42, 42, 100)), color-stop(0.5, rgba(61, 61, 61, 100)), color-stop(1, rgba(77, 77, 77, 100)));
}

#nav
{
  margin : 0px;
  padding : 0px;
}

#nav li
{
  color : rgb(255, 255, 255);
  text-align : center;
  list-style-type : none;
  width : 24%;
  display : inline-block;
  -webkit-transition : all 200ms;
  -moz-transition : all 200ms;
  -ms-transition : all 200ms;
  -o-transition : all 200ms;
  transition : all 200ms;
}

#nav li:hover
{
  width : 26%;
  background-image : -moz-linear-gradient(90deg, rgba(63, 75, 107, 100) 0%, rgba(96, 107, 135, 100) 100%);
  background-image : -webkit-gradient(linear, 50% 100% ,50% 0% ,color-stop(0, rgba(63, 75, 107, 100)), color-stop(1, rgba(96, 107, 135, 100)));
}

#nav li a
{
  color : rgb(255, 255, 255);
}

.header
{
  background-color : rgb(5, 19, 175);
  color : rgb(255, 255, 255);
  line-height : 60px;
  text-align : center;
  margin : 0px;
  padding-left : 17px;
  -webkit-border-top-left-radius : 20px;
  -moz-border-radius-topleft : 20px;
  border-top-left-radius : 20px;
  -webkit-border-top-right-radius : 20px;
  -moz-border-radius-topright : 20px;
  border-top-right-radius : 20px;
  text-shadow : 2px 2px 2px rgb(0, 0, 0);
}

.wrapper
{
  background-color : rgb(0, 0, 0);
  font-family : Courier New, Courier, monospace;
  color : rgb(17, 255, 0);
  width : 1000px;
  margin-left : auto;
  margin-right : auto;
  -webkit-border-radius : 10px;
  -moz-border-radius : 10px;
  border-radius : 10px;
  box-shadow : 2px 3px 8px rgba(0, 0, 0, 0.7);
  -moz-box-shadow : 2px 3px 8px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow : 2px 3px 8px rgba(0, 0, 0, 0.7);
}


